@(uploads: List[Upload])
<!DOCTYPE html>

<html>
<head>
    <title>File Upload with Java, Play 2, and S3</title>
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
</head>
<body>
    <h1>Upload a file:</h1>
    
    @helper.form(action = routes.Application.upload, 'enctype -> "multipart/form-data") {
        <input type="file" name="upload">
        <input type="submit">
    }

    <h1>Uploads:</h1>
    <ul>
    @for(upload <- uploads) {
        <li><a href="@upload.getUrl()">@upload.name</a></li>
    }
    </ul>

</body>
</html>